<?xml version = "1.0" encoding = "UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<!--    <bean id ="actor" class="com.stackroute.domain.task1.Actor" >-->

<!--        <constructor-arg name="name" value="Vijay Devarakonda" />-->

<!--        <constructor-arg name="gender" value="Male" />-->

<!--        <constructor-arg name="age" value="30" />-->


<!--    </bean>-->


    <bean id ="Actor" class="com.stackroute.domain.task1.Actor" >


        <constructor-arg type="String" value="Suriya" />

        <constructor-arg type="String" value="Male" />

        <constructor-arg type="int" value="43" />


    </bean>

<!--    <bean id ="actor3" class="com.stackroute.domain.task1.Actor">-->

<!--        <constructor-arg index="0" value="Chris Hemsworth" />-->

<!--        <constructor-arg index="1" value="Male" />-->

<!--        <constructor-arg index="2" value="35" />-->

<!--        <property name="name" value="Chris Hemsworth"/>-->
<!--        <property name="gender" value="Male"/>-->
<!--        <property name="age" value="35"/>-->



<!--    <bean id = "movie" autowire="byName" class="com.stackroute.domain.task1.Movie"> </bean>-->

    <bean id = "movie1" autowire="constructor" class="com.stackroute.domain.task1.Movie"> </bean>

    <bean id = "movie2" autowire="byType" class="com.stackroute.domain.task1.Movie"> </bean>

</beans>