<?xml version = "1.0" encoding = "UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id ="actor1" class="com.stackroute.domain.task1.Actor" >

        <constructor-arg name="name" value="Vijay Devarakonda" />

        <constructor-arg name="gender" value="Male" />

        <constructor-arg name="age" value="30" />


    </bean>


    <bean id ="actor2" class="com.stackroute.domain.task1.Actor" >


        <constructor-arg type="String" value="Suriya" />

        <constructor-arg type="String" value="Male" />

        <constructor-arg type="int" value="43" />


    </bean>

    <bean id ="actor3" class="com.stackroute.domain.task1.Actor">

        <constructor-arg index="0" value="Chris Hemsworth" />

        <constructor-arg index="1" value="Male" />

        <constructor-arg index="2" value="35" />

<!--        <property name="name" value="Chris Hemsworth"/>-->
<!--        <property name="gender" value="Male"/>-->
<!--        <property name="age" value="35"/>-->

    </bean>

    <bean id = "movie1" class="com.stackroute.domain.task1.Movie" scope="prototype" >
<!--        <property name="actor" ref="actor1"/>-->
        <constructor-arg name="actor" ref="actor1"/>

    </bean>

    <bean id = "movie2" class="com.stackroute.domain.task1.Movie"  >
<!--        <property name="actor" ref="actor2"/>-->
        <constructor-arg name="actor" ref="actor2"/>

    </bean>

    <bean id = "movie3" class="com.stackroute.domain.task1.Movie" >
<!--        <property name="actor" ref="actor3"/>-->
        <constructor-arg name="actor" ref="actor3"/>

    </bean>
</beans>
